{%- if lang == "en" -%}
  {%- assign originalTitle = title -%}
{%- else -%}
  {%- assign originalTitle = en -%}
{%- endif -%}
{%- assign translations = collections.all | translation: originalTitle -%}
{% if translations.size > 1  %}
<nav class="languages">
  <ul>
    {%- for translation in translations -%}
      {%- assign article = translation.data  %}
      {%- assign article_lang = article.lang %}
      {%- if lang == translation.data.lang  -%}
        <li class="selected" lang="{{ article_lang }}">({{ article_lang }})</li>
      {%- else %}
        <li><a href="{{ translation.url }}" lang="{{ article_lang }}" title="{{ article.title }}" aria-label="{{ article.title }}">({{ article_lang }})</a></li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
{% endif %}
