<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/favicon/site.webmanifest" />
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  {%- if not site.dev %}
  <link rel="prefetch" href="https://stats.jcubic.pl/modules/base/js/owa.tracker-combined-min.js" />
  {%- endif %}
  <meta name="apple-mobile-web-app-title" content="Jakub Jankiewicz Blog" />
  <meta name="application-name" content="Jakub Jankiewicz Blog" />
  <meta name="msapplication-TileColor" content="#b72100" />
  <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
  {%- assign has_card = page | has_card %}
  {% assign social_image = site.url | append: "/img/" | append: lang | append: "/" | append: page.fileSlug | append: ".png" -%}
  <meta property="og:locale" content="{{ blog.locale }}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ blog.title }}{% endif %}"/>
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ blog.description }}{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:site_name" content="{{ blog.title }}"/>
  {%- if has_card %}
    <meta property="og:image" content="{{ social_image }}"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
  {%- endif %}
  {%- if author and title %}
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}"/>
    {%- if has_card %}
      <meta name="twitter:image" content="{{ social_image }}"/>
      <meta name="twitter:image:alt" content="Simple image that shows title author and date of the article" />
      <meta name="twitter:card" content="summary_large_image"/>
    {%- else %}
      <meta name="twitter:card" content="summary"/>
    {%- endif %}
    <meta name="twitter:site" content="@{{ site.twitter }}"/>
    <meta name="twitter:creator" content="@{% if users[author].twitter %}{{ users[author].twitter }}{% else %}{{ twitter }}{% endif %}"/>
  {%- endif %}
  <link rel="stylesheet" href="/{% with_hash "css/blog.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if lang == "en" -%}
    {% assign originalTitle = title %}
  {%- else -%}
    {% assign originalTitle = en %}
  {%- endif -%}
  {%- for collection in collections.all -%}
    {%- assign otherArticles = collection | where: "data.en", originalTitle -%}
    {%- assign originalArticles = collection | where: "data.title", originalTitle -%}
    {% for article in originalArticles -%}
      {%- if article.data.lang == "en" -%}
        <link rel="alternate" href="{{ site.url }}{{ article.url }}" hreflang="x-default" />
        <link rel="alternate" href="{{ site.url }}{{ article.url }}" hreflang="{{ article.data.lang }}" />
      {%- endif -%}
    {%- endfor -%}
    {%- for article in otherArticles -%}
      <link rel="alternate" href="{{ site.url }}{{ article.url }}" hreflang="{{ article.data.lang }}" />
    {%- endfor -%}
  {%- endfor %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  {%- assign has_code = page | has_code %}
  {% if has_code -%}
  <link href="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
  {% endif -%}
  {%- assign article_lang = tags | article -%}
  {% if article_lang == lang  -%}
  <script type="application/ld+json">
   {
       "@context": "https://schema.org",
       "@type": "BlogPosting",
       "publisher": {
           "@type": "Organization",
           "name": "{{ blog.title }}",
           "url": "{{ site.url }}{% if lang != "en" -%}/{{ lang }}{% endif %}/blog/",
           "logo": {
               "@type": "ImageObject",
               "creator": {
                   "@type": "Person",
                   "@id": "https://jakub.jankiewicz.org",
                   "name": "Jakub Jankiewicz",
                   "alternateName": "Jakub T. Jankiewicz"
               },
               "url": "{{ site.url }}/favicon/android-chrome-512x512.png"
           }
       },
       "author": {{ users[author].ld | jsonify }},
       "headline": "{{ title }}",
       "image": {
           "@type": "ImageObject",
           "url": "{{ social_image }}",
           "license": "https://creativecommons.org/licenses/by-nc-sa/3.0/",
           "width": {{ 1200 }},
           "height": {{ 630 }}
       },
       "description": "{{ page.description }}",
       "mainEntityOfPage": {
           "@type": "WebPage",
           "@id": "https://google.com/article"
       },
       "license": "https://creativecommons.org/licenses/by-sa/4.0/"
   }
  </script>
  {% endif -%}
  <link rel="webmention" href="https://webmention.io/jakub.jankiewicz.org/webmention" />
  <link rel="pingback" href="https://webmention.io/jakub.jankiewicz.org/xmlrpc" />
  <meta name="generator" content="{{ eleventy.generator }}">
</head>
<body id="dark_no_js">
  <a href="#main" class="skip-to-content">{{ blog.skip }}</a>
  <nav class="main">
    <pre></pre>
    <div class="dark-mode radio brakets">
      <input name="mode" type="radio" id="mode_light" value="light" checked autocomplete="on"/>
      <label for="mode_light">
        light
      </label>
      <input name="mode" type="radio" id="mode_dark" value="dark" autocomplete="on" />
      <label for="mode_dark">
        dark
      </label>
    </div>
    <div class="bottom">
      {%- if lang == 'en' -%}
        <a href="/blog/rss.xml" class="rss brakets">RSS</a>
      {%- else -%}
        <a href="/{{ lang }}/blog/rss.xml" class="rss brakets">RSS</a>
      {%- endif -%}
      <a href="https://twitter.com/jcubic">@jcubic</a>
    </div>
  </nav>
  <header class="top">
    <a href="{% if lang != 'en' %}/{{ lang }}{% endif %}/blog/" aria-label="{{ blog.home }}">
      <pre class="big" aria-hidden="true" role="presentation">{{ figlet.big }}</pre>
      <pre class="small" aria-hidden="true" role="presentation">{{ figlet.small }}</pre>
      <pre class="wrap" aria-hidden="true" role="presentation">{{ figlet.wrap }}</pre>
    </a>
  </header>
  <main id="main">
  {{ content -}}
  </main>
  <footer>
    {%- if lang != "en" -%}
      {% assign lang_suffix = lang | append: "/" | prepend: "/" %}
    {%- else -%}
      {% assign lang_suffix = "/" %}
    {%- endif %}
    <p>Copyright (c) {{ "now" | date: "%Y" }} <a href="https://jakub.jankiewicz.org{{ lang_suffix }}">Jakub T. Jankiewicz</a> | <a href="{{ site.repo }}/blob/master/{{ page.inputPath }}">{{ blog.source }}</a></p>
   <p>{{ blog.license | md }}</p>
 </footer>
 <div class="system">
   <!-- ref: https://www.youtube.com/watch?v=W3bF4ASGJWA -->
   <a href="#" id="pi">Π</a>
   <canvas id="m"></canvas>
   <div class="off-site">
     <span class="font">m</span>
   </div>
   <div class="trinity-dialog hidden">
     <header>
       <ul>
         <li><a href="#"></a></li>
         <li><a href="#"></a></li>
       </ul>
       <span class="title">mobile</span>
     </header>
     <div class="body"></div>
   </div>
   <!-- ref: https://www.youtube.com/watch?v=0PxTAn4g20U -->
 </div>
 <noscript>
   <style>
    :root {
        --no-js: true;
    }
   </style>
 </noscript>
 {% assign cookie_page = lang_suffix | append: "blog/cookies/" %}
 <div class="cookies" id="cookie_banner" style="display: none">
   <p>{{ cookie.pre }}{% if page.url != cookie_page %} <a href="{{ lang_suffix }}blog/cookies/" aria-label="{{ cookie.label }}">{{ cookie.more }}</a>{% endif %}</p>
   <p><button id="cookie_ok" class="btn">{{ cookie.ok }}</button></p>
 </div>
 <script src="/{% with_hash "js/blog.js" %}"></script>
 {%- include "_analytics" -%}
</body>
</html>
