---
layout: main_layout.liquid
---
<header>
 <h1>
   {{ title }}
 </h1>
 <div class="meta">
   {% assign user = author | default: "jcubic" %}
   <p class="author">
     <a href="{{ users[user].url }}">
       {{- users[user].name -}}
     </a>
   </p>
 </div>
</header>
{% include "_langs" %}
<section>
  {{ content }}
</section>
{%- assign article_tag = "articles_" | append: lang -%}
{%- if tags contains article_tag and not site.dev %}
  <script src="https://giscus.app/client.js"
          id="comments"
          data-repo="jcubic/jankiewicz"
          data-repo-id="MDEwOlJlcG9zaXRvcnkzODkwMjg1ODE="
          data-category="Comment"
          data-category-id="DIC_kwDOFzAa5c4CX5VR"
          data-mapping="specific"
          data-term="{{ title }}"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-theme="light"
          data-input-position="top"
          data-lang="{{ lang }}"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
{%- endif -%}
