---
layout: main_layout.liquid
---
<header>
 <h1>
   {{ title }}
 </h1>
 <div class="meta">
   {% assign user = author | default: "jcubic" %}
   <p class="author">
     <a href="{{ users[user].url }}">
       {{- users[user].name -}}
     </a>
   </p>
 </div>
</header>
<nav class="languages">
  <ul>
    {%- if lang == "en" -%}
      {%- assign originalTitle = title -%}
    {%- else -%}
      {%- assign originalTitle = en -%}
    {%- endif -%}

    {% for collection in collections.articleSets -%}
      {%- assign otherArticles = collections[collection] | where: "data.en", originalTitle -%}
      {%- assign article_lang = collection | remove: "articles_" %}
      {% for article in otherArticles -%}
        {% if article_lang == lang -%}
          <li class="selected">({{ lang }})</li>
        {%- elsif article_lang -%}
          <li><a href="{{ article.url }}">({{ article_lang }})</a></li>
        {%- endif -%}
      {%- endfor -%}
      {% assign otherArticle = collections[collection] | where: "data.title", originalTitle | first %}
      {%- if otherArticle -%}
        {% if lang == "en" %}
          <li class="selected">({{ lang }})</li>
        {%- else -%}
          <li><a href="{{ otherArticle.url }}">(en)</a><li>
        {%- endif -%}
      {%- endif -%}
    {%- endfor %}
  </ul>
</nav>
<section>
  {{ content }}
</section>
